version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: task-tracker-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task_tracker_db
    ports:
      - "3307:3306"
    networks:
        - s-network
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: task-tracker-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  task-app:
    build: .
    container_name: task-tracker-app
    ports:
      - "8080:8080"
    depends_on:
      mysqldb:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/task_tracker_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

volumes:
  db_data:
  redis_data:
